<div class="vg-page page-aboutus" id="aboutus">
    <div class="container">
        <h1 class="text-center fw-normal wow fadeInUp">Who We Are ?</h1>
        <div class="row justify-content-center mt-5 wow fadeInUp">
            <div class="col-md-9">
                <div class="owl-carousel testi-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-place">
                                    <img src="../assets/img/aboutus/IbmWatson.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="caption">
                                    <div class="testi-content">IBM Watson Health is a digital tool that helps clients facilitate medical research, clinical research, and healthcare solutions, through the use of artificial intelligence, data, analytics, cloud computing, and other
                                        advanced information technology.</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-place">
                                    <img src="../assets/img/aboutus/IbmWatson2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="caption">
                                    <div class="testi-content">We partner with HHS and social services agencies around the world to help them apply analytics to better understand their communities, enhance and deploy critical programs, and provide integrated health and social care.</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>