<div class="vg-page page-home" id="home" style="background-image: url(../assets/img/bg_image_1.jpg)">
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg navbar-dark sticky" data-offset="500">
        <div class="container">
            <a href="" class="navbar-brand">IBM-Watson</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar" aria-expanded="true">
      <span class="ti-menu"></span>
    </button>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="#home" class="nav-link" data-animate="scrolling">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link" data-animate="scrolling">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#teaminfo" class="nav-link" data-animate="scrolling">Team</a>
                    </li>
                    <!-- pending -->
                    <li class="nav-item">
                        <a href="#leavetracker" class="nav-link" data-animate="scrolling">Leave Tracker</a>
                    </li>
                    <!-- pending ends -->
                    <li class="nav-item">
                        <a href="#aboutus" class="nav-link" data-animate="scrolling">About Us</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#contact" class="nav-link" data-animate="scrolling">Contact</a>
                    </li> -->
                </ul>
                <ul class="nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-fab btn-theme no-shadow" (click)="logout()">Logout</button>
                        <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navbar -->
    <!-- Caption header -->
    <div class="caption-header text-center wow zoomInDown">
        <h5>Welcome</h5>
        <h1 class="fw-light mb-4"><b class="fg-theme">{{user.firstName}} {{user.lastName}}</b></h1>
        <div class="badge">{{user.designation}}</div>
    </div>
    <!-- End Caption header -->

</div>
<pm-user-detail></pm-user-detail>
<pm-team-info></pm-team-info>
<pm-leave-tracker></pm-leave-tracker>
<pm-about-us></pm-about-us>
