<div class="vg-page page-leavetracker" id="leavetracker">
        <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
        <div class="container py-5">
            <div class="badge badge-subhead">Employees Leave Tracker</div>
        <div style="text-align: center;font-weight: bold;margin-bottom: 1%;"><button class="btn btn-theme-outline pre" [disabled]="prevDisable === 'true'" (click)="preMonth()"><span><--</span></button>{{monthName}}&nbsp;{{currentYear}}<button class="btn btn-theme-outline next" [disabled]="nextDisable === 'true'" (click)="nextMonth()"><span>--></span></button></div>  

        <table class="col-md-12">
        <tr>
            <td style="width: 3%"></td>
            <td style="width: 3%" *ngFor='let in of this.monthCounter'>{{in}}</td>
        </tr>
        <tr>
            <td style="width: 3%">Employee</td>
            <td style="width: 3%" *ngFor='let day of dayCounter'[ngClass]="{'holiday-marker':day=='Sat'||day=='Sun'}">{{day}}</td>

        </tr>
        <tr *ngFor="let data of sampleData">
            <td>{{data.name}}</td>
            <td style="width: 3%" *ngFor='let in of this.monthCounter;let i=index'>
                <span *ngFor="let a of leaveObjArray | keyvalue">
                        <div *ngIf="a.key==data.name">
                             <span *ngFor="let day of a.value ;let j=index">                
                                <span *ngIf="day==in" id="{{data.name}}{{j}}{{monthName}}" [ngClass]="{'leave-marker':day==in}" (click)="openModal(deleteLeave,data.name,j,day)"></span>                                   
                            </span>
                        </div>
                </span>
            </td>
        </tr>     
    </table>
</div>
<ng-template #deleteLeave let-modal>
        <!-- <div class="modal-header">
            <h5 class="modal-title" style="font-size:20px"></h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
         </button>
        </div> -->
    
        <div class="modal-body leave-cancel-block">
               Do you want to cancel the leave?
               <button class="btn btn-primary save-button confirm" (click)="deleteLeaveConfirm()">Yes</button>
               <button class="btn btn-primary save-button cancel" (click)="cancelLeaveConfirm()">No</button>

               <!-- <button class="btn btn-primary save-button">No</button> -->
        </div>
    </ng-template>
</div>